body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 300px;
    height: 400px;
    background-color: deepskyblue;
    display: flex;
    align-items: right;
    justify-content: left;
    border-radius: 45px;
}

.main-block-message {
    font-size: 23px;
}
